<div class="container">
  <h2 class="title">
    <span style="color: #385170">E.M.T stand for: </span>
    <br>
    <span class="title-word title-word-1">Educational </span>
    <span class="title-word title-word-2">Movies </span>
    <span class="title-word title-word-3">Tickets </span>
  </h2>

  <div class="row">
    <div class="col-md-12 text-center">
      <h5 class="animate-charcter"> Register free or Login with your Facebook / Google account and Book your tickets for the top educational movies</h5>
    </div>
  </div>
</div>
