.title-word {
  animation: color-animation 5s linear infinite;
}

.title-word-1 {
  --color-1: #000;
  --color-2: #385170;
  --color-3: #385170;
}

.title-word-2 {
  --color-1: #000;
  --color-2: #385170;
  --color-3: #385170;
}

.title-word-3 {
  --color-1: #000;
  --color-2: #385170;
  --color-3: #385170;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;
  text-align: center;

}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-transform: uppercase;
}


.animate-charcter
{

  background-image: linear-gradient(
    -225deg,
    #000 29%,
    #385170 67%,
    #385170 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 30s linear infinite;
  display: inline-block;
  font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
