<div *ngIf='content != null'>{{content}}</div>
<div class="movies" *ngFor="let movie of movies">

  <hr class="featurette-divider">

  <div class="row featurette" style="color: #385170">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">{{ movie.title }}</h2>
      <p class="lead">{{ movie.description }}</p>
      <textarea readonly aria-readonly="true" class="lead" style="height: 300px; width: 870px; background: transparent; border: 5px solid #385170;" >{{movie.summary}}</textarea>
      <button class="lead" style="background: transparent; border: none"><a style="color: #385170; font-size: 20px; text-decoration: none" href="/add-movie"> Book this movie now!</a></button>
    </div>
    <div class="col-md-5 order-md-1">
      <img class [src]="movie.imageUrl" data-holder-rendered="true" style="width: 400px; height:550px;">
    </div>
  </div>

</div>
