.navbar-custom {
    background-color:	 #385170;
}

.app-container{
  --scrollbarBG: #e7eaf6;
  --thumbBG: #385170;
  max-height: 1000px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  /*scrollbar-color: var(--thumbBG) var(--scrollbarBG);*/
}

.navbar-mobile{
  background-color:	 #385170;
}


.app-container::-webkit-scrollbar{
  width: 11px;

}

.app-container::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.app-container::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

*{
  padding: 0;
  margin: 0;
}

html {
  position: relative;
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
  /*  padding: 50px;*/
}
.footer-bg {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color:#0070BB;
}

.photo {
  height: 44px;
  width: 43px;

}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #F5FFFA;
}

.custom-footer{
  background-color: #385170;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #F5FFFA;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #ff5500;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}
.footer-bg
{
}
.mobile-container{
  display: none;
}
.logo{
  width: 50px;
  height: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .navbar-custom{
    display: none;
  }
  .mobile-container{
    display: block;
  }
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: white;
  }
  .navbar-custom .navbar-nav .nav-link {
    color: black;
  }

}
