<div id="app">

  <nav class="navbar navbar-expand-sm navbar-custom">
      <div class="navbar-brand"><img class="logo" src="http://localhost:8080/images/siteLogo.png"> </div>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item active">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
      <a href="/about-us" class="nav-link" routerLink="about">About Us </a>
    </li>

      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Panel</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Panel</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">Available Movies</a>
      </li>
      <li class="nav-item">
        <a href="/events" class="nav-link" *ngIf="showAdminBoard"   routerLink="events">Calendar Events</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/bookings" class="nav-link" routerLink="bookings">Booking List</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/add-movie" class="nav-link" routerLink="add-movie">Book a Movie</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">

      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>

      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>

      </li>

    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ firstName }}</a>
      </li>
      <li class="nav-item">
        <img *ngIf="photo" class="rounded-circle photo" src="{{ photo }}" alt="">
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="mobile-container navbar-custom">
    <br><h1 class="text-center text-light" >Calendar Tickets</h1>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center" style="background: transparent">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler align-center" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="/home" class="nav-link mobile"  routerLink="home">Home </a>
          </li>
          <li class="nav-item">
            <a href="/about-us" class="nav-link" routerLink="about">About Us </a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/admin" class="nav-link mobile" routerLink="admin">Admin Panel</a>
          </li>

          <li class="nav-item" *ngIf="showModeratorBoard">
            <a href="/mod" class="nav-link mobile" routerLink="mod">Moderator Panel</a>
          </li>

          <li class="nav-item">

            <a href="/user" class="nav-link mobile" *ngIf="isLoggedIn" routerLink="user">User</a>
          </li>

          <li class="nav-item">
            <a href="/events" class="nav-link mobile" *ngIf="showAdminBoard" routerLink="events">Calendar Events</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a href="/bookings" class="nav-link mobile" routerLink="bookings">Booking List</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a href="/add-movie" class="nav-link mobile" routerLink="add-movie">Book a Movie</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a href="/register"  class="nav-link mobile" routerLink="register">Sign Up</a>

          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a href="/login" class="nav-link mobile" routerLink="login">Login</a>
          </li>

          <li class="nav-item" *ngIf="showUserBoard">
            <a href="/profile" class="nav-link" routerLink="profile">{{ firstName }}</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <img *ngIf="photo" class="rounded-circle photo" src="{{ photo }}" alt="">
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a href class="nav-link mobile" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="app-container">
    <a href="/home" routerlink="home"> <img class="center" src="http://localhost:8080/images/siteLogo.png" alt="E.M.T"></a>
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer-bg text-center custom-footer">
  <!-- Grid container -->
  <div class="container-fluid custom-footer">

    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="https://facebook.com" role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="https://twitter.com" role="button" target="_blank"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="mailto:aimiliosrocchi@gmail.com" role="button" target="_blank"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-primary btn-floating m-1" style="background-color:#BA55D3" href="https://instagram.com" role="button" target="_blank"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #87CEFA" href="https://linkedin.com" role="button"target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      <a class="btn btn-primary btn-floating m-1" style="background-color:	#8FBC8B" href="https://gitlab.com/aimiliosrocchi/booking-calendar" role="button"target="_blank"><i class="fab fa-gitlab"></i></a>

    </section>


    <section class="mb-4">
      <p>
       Κάντε online Κράτηση τώρα με ασφάλεια..
      </p>
    </section>
    <!-- Section: Text -->


    <!-- Section: Links -->
    <section class="" >
      <!--Grid row-->
      <div class="row" >
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0" >
          <h5 class="text-uppercase">Payment Methods  </h5>

          <ul class="list-unstyled mb-0" >
            <li>
              <i class="fab fa-cc-visa" style="font-size:30px;color:#d5f4e6"></i>
            </li>
            <li>
              <i class="fab fa-cc-amex" style="font-size:30px;color: #d5f4e6"></i>
            </li>
            <li>
              <i class="fab fa-cc-amazon-pay" style="font-size:30px;color:#d5f4e6 "></i>
            </li>
            <li>
              <i class="fab fa-cc-mastercard" style="font-size:30px;color:#d5f4e6"></i>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase" >Links</h5>
          <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
              <a href="/home" class="nav-link  text-light" routerLink="home">Home  </a>
            </li>
            <li class="nav-item">
              <a href="/about-us" class="nav-link text-light" routerLink="about">About Us </a>
            </li>
            <li class="nav-item" *ngIf="showAdminBoard">
              <a href="/admin" class="nav-link text-light" routerLink="admin">Admin Panel</a>
            </li>
            <li class="nav-item" *ngIf="showModeratorBoard">
              <a href="/user" class="nav-link text-light" *ngIf="isLoggedIn" routerLink="user">Available Movies</a>
            </li>
            <li class="nav-item">
              <a href="/events" class="nav-link text-light" *ngIf="showAdminBoard" routerLink="events">Calendar Events</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
              <a href="/register" class="nav-link text-light" routerLink="register">Sign Up</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link text-light" routerLink="login">Login</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
              <a href="/profile" class="nav-link text-light" routerLink="profile">{{ firstName }}</a>
            </li>
            <li class="nav-item">
              <a href class="nav-link text-light" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3 custom-footer">
    © 2022 Copyright:
    <a class="text-dark" href="#">@WebGods  </a>
  </div>
  <!-- Copyright -->
</footer>
