<div class="container paddings">
<h3>Update Booking Details</h3>
<div >
  <form (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="col-md-6 form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="booking.firstName" name="firstName">
      </div>

      <div class="col-md-6 form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="booking.lastName" name="lastName">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="emailId">Email ID</label>
        <input type="email" class="form-control" id="emailId" required [(ngModel)]="booking.emailId" name="emailId">
      </div>

      <div class="col-md-6 form-group">
        <label for="phone">Contact No.</label>
        <input type="phone" class="form-control" id="phone" required [(ngModel)]="booking.phone" name="phone">
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" required [(ngModel)]="booking.address" name="address">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label for="movie">Movie</label>
        <input type="text" class="form-control" id="movie" required [(ngModel)]="booking.movie" name="movie">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 form-group">
        <label for="date">Date of Movie</label>
        <input type="date" class="form-control" id="date" required [(ngModel)]="booking.date" name="date">
      </div>
    </div>

    <button type="submit" class="btn" style="background: #385170; color: white">Submit</button>
  </form>
</div>
</div>
