<div class="container-fluid paddings">
<div class="homepage">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let movie of movies">
      <div class="wrapper">
        <img class="carousel-img" [src]="movie.imageUrl" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.description }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
</div>
