<div class="col-md-12">
  <div class="card card-container">
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="email.errors && f.submitted"
        >
          Email is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors['required']">Password is required!</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters!
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary main-color btn-block">
          Login
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isLoginFailed">
          Login failed: {{ errorMessage }}
        </div>
      </div>
      <div class="form-group">
        <p class="content-divider center mt-3">
          <span>or</span>
        </p>
      </div>
     <div>
      </div>
    </form>
    <div class="social" *ngIf="!isLoggedIn">
      <div class="card-header card-text text-center">
        Sign in with:
      </div>

      <button class="btn btn-outline-danger btn-lg btn-block" (click)="signInWithGoogle()">
        <i class="fab fa-google"></i>oogle
      </button>
      <button class="btn btn-outline-primary btn-lg btn-block" (click)="signInWithFB()">
        <i class="fab fa-facebook"></i>acebook
      </button>
    </div>
    <div
      class="alert alert-success"
      role="alert"
      *ngIf="isLoggedIn">
      <span>Hello {{firstName}} !</span>
      <br>
     You are logged in as: {{ roles }}
    </div>

<!--    <div class="alert alert-success" *ngIf="isLoggedIn || socialUserIsLogged">-->
<!--    </div>-->
  </div>
</div>
