<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.firstName}}</strong> Profile

    </h3>
    <h3>
     Hello <strong>{{ currentUser.firstName + " "}}</strong>  <strong>{{ currentUser.lastName }}</strong>
    </h3>
    <img *ngIf="currentUser.photoUrl" class="rounded-circle photo" src="{{ currentUser.photoUrl }}" alt="">

    <h5>Your email is: {{ currentUser.email }}</h5>
    <h5 *ngIf="!isSocial">Your roles are: {{currentUser.roles}}</h5>
  </header>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
