<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<div *ngIf='content != null'>{{content}}</div>
<div class="container" id="main-container">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="mb-3">
        <h5 class="card-title">Movies List<span class="text-muted fw-normal ms-2"></span></h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
        <div>
          <a *ngIf='content == null' (click)="onOpenModal(null, 'add')" class="btn btn-primary main-color"><i class="bx bx-plus me-1"></i>Add New Movie</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="">
        <div class="table-responsive">
          <table class="table project-list-table table-nowrap align-middle table-borderless">
            <thead>
            <tr>
              <th scope="col" style="color: #385170">Title</th>
              <th scope="col" style="color: #385170">Description</th>
              <th scope="col" style="color: #385170">Image</th>
              <th scope="col" style="color: #385170">Summary</th>
              <th scope="col" style="width: 200px; color: #385170;">Action</th>
            </tr>
            </thead>
            <tbody *ngFor="let movie of movies">
            <tr>
              <td style="color: #385170">{{movie.title}}</td>
              <td><span class="badge badge-soft-success mb-0 d-inline-block text-truncate" style="width: 200px">{{movie.description}}</span></td>
              <td><img [src]="movie.imageUrl" [alt]="movie.title" height="200" /></td>
              <td><span class="badge badge-soft-success mb-0 d-inline-block text-truncate" style="width: 200px">{{movie.summary}}</span></td>
              <td>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a *ngIf='content == null'  (click)="onOpenModal(movie, 'edit')" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a *ngIf='content == null'  (click)="onOpenModal(movie, 'delete')" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                  </li>
                </ul>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="updateMovieModal" tabindex="-1" role="dialog" aria-labelledby="updateMovieModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Update Movie {{editMovie?.title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <input type="hidden" id="id" ngModel="{{editMovie?.id}}" name="id" class="form-control" required>
          <div class="form-group">
            <label data-error="wrong" data-success="right" for="title">Title</label>
            <input type="text" id="title" ngModel="{{editMovie?.title}}" name="title" placeholder="Title..." class="form-control" required>
          </div>
          <div class="form-group">
            <label data-error="wrong" data-success="right" for="description">Description</label>
            <input type="text" ngModel="{{editMovie?.description}}" name="description" id="description"  placeholder="Description..." class="form-control" required>
          </div>
          <div class="form-group">
            <label data-error="wrong" data-success="right" for="summary">Summary</label>
            <textarea ngModel="{{editMovie?.summary}}" name="summary" id="summary"  placeholder="Summary..." class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label data-error="wrong" data-success="right" for="imageUrl">Image URL</label>
            <input type="text" ngModel="{{editMovie?.imageUrl}}" id="imageUrl" name="imageUrl"  placeholder="Image Url..." class="form-control" required>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" id="editMovieForm" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="onEditMovie(editForm.value)" class="btn btn-primary main-color">Update Movie</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Movie</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddMovie(addForm)">
        <div class="form-group">
          <label data-error="wrong" data-success="right" for="title">Title</label>
          <input type="text" id="title" ngModel name="title" placeholder="Title..." class="form-control" required>
        </div>
          <div class="form-group">
            <label data-error="wrong" data-success="right" for="description">Description</label>
            <input type="text" ngModel name="description" id="description"  placeholder="Description..." class="form-control" required>
          </div>
          <div class="form-group">
            <label data-error="wrong" data-success="right" for="summary">Summary</label>
            <textarea ngModel name="summary" id="summary"  placeholder="Summary..." class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label data-error="wrong" data-success="right" for="imageUrl">Image URL</label>
            <input type="text" ngModel name="imageUrl" id="imageUrl"  placeholder="Image Url..." class="form-control" required>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" id="addMovieForm" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary main-color">Add Movie</button>
          </div>
        </form>
      </div>
  </div>
</div>
</div>

<div class="modal fade" id="deleteMovieModal" tabindex="-1" role="dialog" aria-labelledby="deleteMovieModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Delete Movie {{deleteMovie?.title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>Are you sure you want to delete this Movie {{deleteMovie?.title}}?</p>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button"id="deleteMovieForm" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteMovie(deleteMovie.id)" class="btn btn-danger">Yes</button>
        </div>
    </div>
  </div>
</div>
</div>




