
.project-list-table {
  border-collapse: separate;
  border-spacing: 0 12px
}

.project-list-table tr {
  background-color: #fff
}

.table-nowrap td, .table-nowrap th {
  white-space: nowrap;
}
.table-borderless>:not(caption)>*>* {
  border-bottom-width: 0;
}
.table>:not(caption)>*>* {
  padding: 0.75rem 0.75rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.avatar-sm {
  height: 2rem;
  width: 2rem;
}
.rounded-circle {
  border-radius: 50%!important;
}
.me-2 {
  margin-right: 0.5rem!important;
}
img, svg {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.badge-soft-danger {
  color: #f56e6e !important;
  background-color: rgba(245,110,110,.1);
}
.badge-soft-success {
  color: #63ad6f !important;
  background-color: rgba(99,173,111,.1);
}

.badge-soft-primary {
  color: #385170 !important;
  background-color: rgba(59,118,225,.1);
}

.badge-soft-info {
  color: #57c9eb !important;
  background-color: rgba(87,201,235,.1);
}

.avatar-title {
  align-items: center;
  background-color: #385170;
  color: #fff;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.bg-soft-primary {
  background-color: rgba(59,118,225,.25)!important;
}


.main-color{
  background-color: #385170;
  border-color: #385170;
  color: #FFF;


}

.main-color:hover{
  color: black;
  background-color: #385170;
  border-color: #385170;
}
