<div class="container paddings">
<!--  <div class="col-lg-6">-->
<!--    <img src="https://2.bp.blogspot.com/-NyrPWVNHT1Y/XGbKoxKHouI/AAAAAAAABMQ/IMiSC8h3svIar5QWv-578PtKjRlTSKCaQCLcBGAs/s1600/500_F_225564511_dgATafcW8FdH8pYGA8vlxg0ixgUMRXMu.jpg">-->

<!--  </div>-->

  <div class="col-lg-12">
    <h3>Book Tickets</h3>
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()">
        <div class="row">

          <div class="col-md-6 form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="var_firstName" name="firstName">
          </div>

          <div class="col-md-6 form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="var_lastName" name="lastName">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label for="emailId">Email ID</label>
            <input type="email" class="form-control" id="emailId" required [(ngModel)]="var_emailId" name="emailId">
          </div>
          <div class="col-md-6 form-group">
            <label for="phone">Contact No.</label>
            <input type="phone" class="form-control" id="phone" required [(ngModel)]="var_phone" name="phone">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" required [(ngModel)]="var_address" name="address">
          </div>
        </div>
        <br><br><br>
        <div class="row">
        <div class="col-md-6 form-group">
          <label for="movie">Available Movies: </label>
          <select [(ngModel)]="var_movie" name="movie" id="movie">
            <option value="">--Please choose a Movie--</option>
            <option *ngFor="let title of titleArray" [value]="title.title">
              {{title.title}}
            </option>
          </select>
        </div>
          <div class="col-md-6 form-group">
            <label for="date">Available Dates: </label>
            <select [(ngModel)]="var_movie" name="date" id="date">
              <option value="">--Please choose a Date--</option>
              <option *ngFor="let title of titleArray" [value]="title.title">
                {{title.title}}
              </option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn" style="background: #385170; color: #fff">Submit</button>
      </form>
    </div>

    <div [hidden]="!submitted">
      <h4>You submitted successfully!</h4>

    </div>
  </div>
</div>
