<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 style="color:#385170;">Booking List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="color: #385170">Firstname</th>
        <th style="color: #385170">Lastname</th>
        <th style="color: #385170">Contact</th>
        <th style="color: #385170">Movie</th>
        <th style="color: #385170">Date Of Movie</th>
        <th style="color: #385170">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let booking of bookings | async">
        <td>{{booking.firstName}}</td>
        <td>{{booking.lastName}}</td>
        <td>{{booking.phone}}</td>
        <td>{{booking.movie}}</td>
        <td>{{booking.date}}</td>
        <td><button (click)="deleteBooking(booking.id)" class="btn btn-danger">Delete</button>
          <button (click)="updateBooking(booking.id)" class="btn btn-warning" style="margin-left: 10px; color: #fff">Update Details</button>
          <button (click)="bookingDetails(booking.id)" class="btn" style="margin-left: 10px; background: #385170; color:#fff;">Ticket Details</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
