 <div id="pdfTable" #pdfTable class="text-center">
<h2 style="color: #385170">Booking Details</h2>

<hr/>
<div class="text-center container" *ngIf="booking">
  <div>
    <label><b>First Name: </b></label> {{booking.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{booking.lastName}}
  </div>
  <div>
    <label><b>Email: </b></label> {{booking.emailId}}
  </div>
  <div>
    <label><b>Contact No.: </b></label> {{booking.phone}}
  </div>
  <div>
    <label><b>Address: </b></label> {{booking.address}}
  </div>
  <div>
    <label><b>Movie: </b></label> {{booking.movie}}
  </div>
  <div>
    <label><b>Date Of Movie: </b></label> {{booking.date}}
  </div>
</div>
<div id="qrcode" class="text-center container"><img [src]="imageToShow"
                      alt="Qr Code"
                      *ngIf="!isImageLoading;">
</div>
 </div>

<br>
<br>
<div class="text-center">
  <button  class="btn" style="background: #385170; color: #ffffff; margin-bottom: 10px;" (click)="downloadAsPDF()">Download your Ticket</button>
</div>
<div class="text-center">
<button (click)="list()" class="btn" style="background: #385170; color: #ffffff; margin-bottom: 10px;">Back to Booking List</button><br>
</div>
